Repository JNU-econovation/forever, pull requests merged in 2024-05, with the labels that each got.

#40 Feat/#39/get document list
  BE/forever/src/main/java/com/example/forever/controller/DocumentController.java
  BE/forever/src/main/java/com/example/forever/converter/DocumentConversion.java
  BE/forever/src/main/java/com/example/forever/dto/DocumentListResponse.java
  BE/forever/src/main/java/com/example/forever/dto/EachDocumentResponse.java
  BE/forever/src/main/java/com/example/forever/service/DocumentService.java
  BE/forever/src/main/resources/application-prod.yml
  BE/forever/src/main/resources/application-test.yml
  BE/forever/src/main/resources/application.yml
Labels: feature ☁️, BE

#41 [AOS/FEAT] 문서 업로드 화면 기능 구현
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/com/fourever/forever/data/FileApiService.kt
  AOS/app/src/main/java/com/fourever/forever/data/datasource/FileDataSource.kt
  AOS/app/src/main/java/com/fourever/forever/data/di/NetworkModule.kt
  AOS/app/src/main/java/com/fourever/forever/data/model/request/PostFileQuestionRequestDto.kt
  AOS/app/src/main/java/com/fourever/forever/data/model/response/GetFileQuestionResponseDto.kt
  AOS/app/src/main/java/com/fourever/forever/data/model/response/GetQuestionListDto.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FakeFileRepositoryImpl.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FileRepository.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FileRepositoryImpl.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/DetailNestedGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/ForeverNavActions.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/GenerationNestedGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/Screen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/buttons/FileUploadButton.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/fileupload/FileUploadScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/fileupload/FileUploadViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getquestion/GetAllQuestionScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getquestion/GetAllQuestionViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getquestion/GetSingleQuestionViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getsummary/QuestionList.kt
  AOS/app/src/main/res/xml/network_security_config.xml
Labels: feature ☁️, AOS

#48 [AOS/MERGE] AOS merge to main
  AOS/app/src/main/java/com/fourever/forever/data/FileApiService.kt
  AOS/app/src/main/java/com/fourever/forever/data/datasource/FileDataSource.kt
  AOS/app/src/main/java/com/fourever/forever/data/model/response/PostFileSummaryResponseDto.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FakeFileRepositoryImpl.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FileRepository.kt
  AOS/app/src/main/java/com/fourever/forever/data/repository/FileRepositoryImpl.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/ForeverNavActions.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/ForeverNavGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/GenerationNestedGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/Screen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/buttons/LongWhiteButton.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/buttons/ShortColorButton.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/buttons/ShortWhiteButton.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/card/ExpectationCard.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/card/QuestionCard.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/fileupload/FileUploadScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/generatequestion/GenerateQuestionScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/generatequestion/GenerateQuestionViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/generatesummary/GenerateSummaryScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/generatesummary/GenerateSummaryViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getsummary/GetSummaryScreen.kt
  AOS/app/src/main/res/drawable/ic_save_question_disabled.png
Labels: AOS

#50 [AOS/FIX] 세부 사항 수정
  .github/ISSUE_TEMPLATE/team-forever-issue-template.md
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/ic_launcher_forever-playstore.png
  AOS/app/src/main/java/com/fourever/forever/data/di/RepositoryModule.kt
  AOS/app/src/main/java/com/fourever/forever/data/model/response/PostFileSummaryResponseDto.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/DetailNestedGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/ForeverNavGraph.kt
  AOS/app/src/main/java/com/fourever/forever/navigation/GenerationNestedGraph.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/component/topappbar/MainTopAppBar.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/fileupload/FileUploadScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/generatesummary/GenerateSummaryViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getquestion/GetAllQuestionScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/getquestion/GetAllQuestionViewModel.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/home/HomeScreen.kt
  AOS/app/src/main/java/com/fourever/forever/presentation/home/HomeViewModel.kt
  AOS/app/src/main/res/drawable/ic_logo_text.png
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_launcher_forever.xml
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_launcher_forever_round.xml
  AOS/app/src/main/res/mipmap-hdpi/ic_launcher_forever.webp
  AOS/app/src/main/res/mipmap-hdpi/ic_launcher_forever_foreground.webp
  AOS/app/src/main/res/mipmap-hdpi/ic_launcher_forever_round.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_launcher_forever.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_launcher_forever_foreground.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_launcher_forever_round.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_launcher_forever.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_launcher_forever_foreground.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_launcher_forever_round.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_launcher_forever.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_launcher_forever_foreground.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_launcher_forever_round.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_forever.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_forever_foreground.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_forever_round.webp
  AOS/app/src/main/res/values/ic_launcher_forever_background.xml
Labels: fix 🚨, AOS
